# Local .terraform directories
.terraform/

# Exclude all secrets and state files (they contain sensitive data)
*.tfvars
*.tfstate
*.tfstate.*
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log
crash.*.log

# Exclude all .tfplan files (they may contain sensitive data)
*.tfplan
*.tfplan.*

# Local environment files
.env
.envrc
.direnv
